{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ task['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <form method="post">
      <div class="position-relative">
        <div class="field">
          <label for="title">Title</label>
          <div>
          <input name="title" id="title"
            value="{{ request.form['title'] or task['title'] }}" required>
          </div>
        </div>
        <div class="field" style="margin-bottom: 100px;">
          <label for="description">Description</label>
          <div>
            <textarea name="description" id="description">{{ request.form['description'] or task['description'] }}</textarea>
          </div>
        </div>
        <div class="field">
          <label for="term">Term</label>
          <div>
            <input type="date" name="term" id="term" value="{{ request.form['term'] or task['term'] }}" required>
          </div>
        </div>
        <div class="field">
          <input class="button" type="submit" value="Save">
        </div>
      </div>
    </form>
    <hr>
    <form action="{{ url_for('blog.delete', id=task['id']) }}" method="post">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
  </div>
{% endblock %}
