// sass --watch flaskr/static/style.scss flaskr/static/style.css
// Iníci da Páginao

$container-padding-x: 15px;
$primary-color: #3548ec;

@mixin make-container($padding-x: $container-padding-x) {
  width: 80%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.container {
  @include make-container();
  /* background-color: lighten($primary-color, 10%); */
  border-radius: 5px;
  padding: 20px;
}

.nav {
  width: 45%;           // ocupa os 25% finais da tela
  // margin-left: 75%;     // começa a partir de 75% da largura
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  align-self: flex-start; // alinha ao topo do pai
  justify-content: center;
  align-items: center;
  li {
    margin-right: 20px;
    font-size: 20px;
  }
}

.navtop {
  width: 100%;
  background-color: #5b81ff; /* cor azul Bootstrap só de exemplo */
  height: 80px;
  display: flex;
}

.ref {
  color: whitesmoke;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  width: 50%;
  margin-left: 15%;
  height: 80%;
  font-size: 2rem;
  font-weight: bold;
  color: whitesmoke;
  align-self: flex-start;
  display: flex;
  justify-content: center;   // centraliza horizontalmente
  align-items: center;       // centraliza verticalmente
  text-align: center;
}

// Conteúdo da Página

.signup-form-fields {
  font-size: 1.35rem;
  font-weight: 600;
  color: #24292f;
  font-family: "Mona Sans", Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
}

.content {
  width: 50%;
   //background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  color: black;
  // border: 1px solid rgba(189, 189, 189, 0.664);
  // border-radius: 8px;
  .field {
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 50px;
    font-size: 20px;
    gap: 12px;
    input {
      // border: 1px solid rgba(189, 189, 189, 0.664);
      border-radius: 8px;
      margin-left: 1%;
      width: 100%;
      // display: block;
    }
    label {
      font-weight: 500;
      font-size: 18px;
    }
  }

  .mb-1 {
    margin-top: 0.25rem !important;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }
}

.login-ref {
  color: #3548ec;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  width: 40%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  h1 {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.position-relative {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #24292f;
  color: whitesmoke;
  margin-left: 0%;
  font-weight: bold;
  border-color: #24292f;
}

.text-center {
  text-align: center;
  margin-top: 20px;
}


// INDEX

/*.dad-tasks {
  width: %2000;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

.task {
  width: 100%;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid black;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-items: center; // alinha verticalmente
  gap: 1rem; 
}

.son-tasks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5px;
}

// CREATE FILE

.task-icon {
  margin-left: 8px;
  width: 40px;
  cursor: pointer;
}
.task-icon[title] {
  position: relative;
}

  /* Fundo escurecido */
  #overlay {
      display: none;
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      background: rgba(0,0,0,0.5);
      z-index: 999;
  }


textarea {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(189, 189, 189, 0.664);
  border-radius: 8px;
  margin-left: 1%;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}

.circle {
  height: 30px;
  width: 30px;
  margin-left: 7px;
  margin-top: 5px;
  border-radius: 50%;
  background: whitesmoke;
  border: 2.8px solid black;
  cursor: pointer;
  
  display: flex;              /* ativa flexbox */
  align-items: center;        /* centraliza verticalmente */
  justify-content: center;    /* centraliza horizontalmente */

  font-size: 20px;
  font-weight: bold;
}

.box {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.circle.checked::after {
  content: "X";
  color: green;
}

.task.checked {
  background: #66ff7b;    /* verde claro */
  border-color: rgb(0, 80, 24);
}

.dad-action {
  margin-left: 8px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dad-action .action {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: none;
  margin-left: 0;
}

.action {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: underline;
}

.delete {
  color: rgb(230, 0, 0);
  text-decoration: underline;
}

.danger {
  display: flex;
  align-items: center;
  // margin-bottom: 10px;
  border-radius: 2px;
  background-color: red;
  color: whitesmoke;
  margin-left: 0%;
  font-weight: bold;
}